/*select box */
 .h-select-style {position:relative;}
/* style1 */
 .h-select-style.type01{
 	& > ul {
 		display:none;
 		position:absolute; top:50px; z-index:10;
 		width:100%;
 		padding:18px 0; 
 		border-radius:10px;
 		background-color:#fff; 
 		box-shadow:1px 1px 24px 1px #e7e7e7;
 		
 		& > li {
 			color:#7d84a0; font-size:14px; 
 			padding:10px 20px;
 			
 			&:hover, &:focus {background-color:#edfefd}
 		} 
 	}
 
	&:focus > .h-select-text, &:hover > .h-select-text {
		color:#47bdb3; 
		border-bottom:1px solid #47bdb3; 
		background:url('/resource/images/icon/icon_arrow_bottom01_on.png') no-repeat 99% center;
	}
		
	& > .h-select-text{
	 	@include selectDesign (38px,38px,14px,#7d84a0,0 5px);
	     border:0; border-bottom:1px solid #7d84a0;
	     background:url('/resource/images/icon/icon_arrow_bottom01.png') no-repeat 99% center;
		
		&.selected + ul { display:block;}	     
	 } 
	 
	 
 }
/* style2 */
 .h-select-style.type02 > .h-select-text {
     padding:0 23px; width:100%; height:33px; line-height:33px;  vertical-align:middle; font-size:14px; color:#4e5983; border:1px solid #dedede; border-radius:15px;box-sizing:border-box; text-align:left;
     background:url('/resource/images/icon/icon_arrow_bottom01.png') no-repeat 95% center;
 }
 .h-select-style.type02:focus > .h-select-text, .h-select-style.type02:hover > .h-select-text, .h-select-style.type02 > .h-select-text.selected { color:#47bdb3; border:1px solid #47bdb3; background:url('/resource/images/icon/icon_arrow_bottom01_on.png') no-repeat 95% center;}
 .h-select-style.type02 > ul {display:none; position:absolute; top:50px; left:50%; width:170px; margin-left:-85px; padding:18px 0; border-radius:10px; background-color:#fff; box-shadow:1px 1px 24px 1px #e7e7e7; z-index:10;}
 .h-select-style.type02 > .h-select-text.selected + ul {display:block;}
 .h-select-style.type02 > ul > li {color:#47bdb3; font-size:14px; padding:10px 20px;}
 .h-select-style.type02 > ul > li:hover, .h-select-style.type02 > ul > li:focus {background-color:#edfefd}
/*style3*/
 .h-select-style.type03 > .h-select-text {
 	padding:0 5px; width:100%; height:38px; line-height:38px;  vertical-align:middle; font-size:14px; color:#7d84a0; border:0; border:0; box-sizing:border-box; text-align:left;
    background:url('/resource/images/icon/icon_arrow_bottom01.png') no-repeat 99% center;
 }
 .h-select-style.type03:focus > .h-select-text, .h-select-style.type03:hover > .h-select-text, .h-select-style.type03.focus > .h-select-text { color:#47bdb3; background:url('/resource/images/icon/icon_arrow_bottom01_on.png') no-repeat 99% center;}
 .h-select-style.type03 > ul {display:none; position:absolute; top:48px; left:50%; width:170px; margin-left:-85px; padding:18px 0; border-radius:10px; background-color:#fff; box-shadow:1px 1px 24px 1px #e7e7e7; z-index:10;}
 .h-select-style.type03 > .h-select-text.selected + ul {display:block;}
 .h-select-style.type03 > ul > li {color:#47bdb3; font-size:14px; padding:10px 20px;}
 .h-select-style.type03 > ul > li:hover, .h-select-style.type01 > ul > li:focus {background-color:#edfefd}
 
 /*sub-menu*/ 
.h-sub-menu{
	position:relative;
	
	&.type01 {
		width:193px; 
		padding-right:20px;
		box-sizing:border-box;
		
		& > .h-select-text {
			display:inline-block; 
			width:25px; height:25px;  
			vertical-align:middle;
			border:0; background:url('/resource/images/icon/icon_arrow_bottom02.png') no-repeat;
			
			&:focus, &:hover {
	            background:url('/resource/images/icon/icon_arrow_bottom02_on.png') no-repeat;
	        }
		}
		& > ul {
			display:none; 
			position:absolute; top:37px; right:0; 
			width:167px; padding:16px 13px; 
			border:1px solid #47bdb3; border-radius:12px; background-color:#fff; box-sizing:border-box; 
			z-index:10; 
			
			&:after {
				content:''; 
				width:12px; height:8px; 
				position:absolute; top:-8px; right:27px; 
				background:url('/resource/images//icon/icon_box_point01.png') no-repeat;
			}
			
			& > li {
				color:#47bdb3; font-size:14px; text-align:center; 
				padding:9px 20px; 
				
				&:hover, &:focue {
					color:#fff; 
					background-color:#48bdb3; 
					border-radius:13px;
				}
			}
		}
	}
}