/*style  area*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

*{font-family:'Noto Sans KR', sans-serif; font-weight:400;}
html { font-size:100.02%; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
font-family:'Noto Sans KR', sans-serif;
font-weight:inherit;
margin:0;
padding:0;
border:0;
vertical-align:baseline;
}
html, body {width:100%; height:100%;}
body {
color:black;
background-color:transparent;
box-sizing:border-box;
}
input, select, textarea, img {vertical-align:middle;}
em {
font-style:normal;
}
ol, ul {
list-style:none;
}

table {
border-collapse:separate;
border-spacing:0;
}
caption, th, td {
font-weight:normal;
vertical-align:middle;
}
blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
textarea {
overflow:auto;
}
hr, legend {
display:none;
}
a {
color:#484848;
text-decoration:none;
font-size:inherit;
font-weight:inherit;
}
select {
font-size:11px;
font-family:"AppleGothic", Verdana, Tahoma, Arial, sans-serif;
vertical-align:middle;
}
input,
textarea {
font-family:"AppleGothic", Verdana, Tahoma, Arial, sans-serif;
vertical-align:middle;
}
a {
	text-decoration:unset; color:inherit;
	&:hover {
		text-decoration:unset; color:inherit;
	}
}
img{
vertical-align:top;
}
table img{
vertical-align:middle;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {-webkit-appearance:button; cursor:pointer;}
button::-moz-focus-inner,
input::-moz-focus-inner {border:0; padding:0;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {height:auto;}
input[type='search'] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {-webkit-appearance:none;}
a:focus {outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
button {background:none; border:none; padding:0; margin:0; vertical-align:middle;}

li > a {font-size:inherit; font-weight:inherit; color:inherit}

h1,h2,h3,h4,h5,h6{font-size:100%;}

/*select box default*/
select { 
	width:100%;
	padding:0 20px 0 3px;
	color:#7b85af; font-size:12px;
	border:0;
	-webkit-appearance: none; 
	/*  */
	-moz-appearance: none; 
	appearance: none; 
	/* */ 
	background: url(/resource/images/icon/icon_arrow_bottom01.png) no-repeat 95% 50%;
	
	/*IE 10, 11 */
	&::-ms-expand{
	   display:none;
	} 

	&:disabled {
       color: #fff;
       border:1px solid #e3e6ea;
       background-color: #e3e6ea;
    }
}

/*flex*/
	/*flex 관련 정렬*/
	.kd-flex-start{ justify-content:flex-start;}
	.kd-flex-end{ justify-content:flex-end;}
	.kd-flex-x-center {display:flex; justify-content: center;}
	.kd-flex-y-center {display:flex; align-items:center;}
	.kd-flex-xy-center {display:flex; width:100%; height:100%; align-items: center; justify-content: center;}
	.kd-flex-row-between-space {display:flex; flex-direction:row; justify-content: space-between;}
	.kd-flex-column-vertical-bottom {display:flex; flex-direction:column-reverse;}
 
	//text 정렬
	.kd-txt-center {text-align:center;}
	.kd-txt-right {text-align:right;}
	.kd-txt-left {text-align:left;}

//position
.position-wrap {position:relative;}

// float 해제
.kd-float-wrap:after{
	content:' ';
	clear:both;
	display:block;
	visibility:hidden;
}

// text hidden
.hidden_word{position:absolute;top:0;left:-9999px;text-indent:-9999px;display:block;font-size:0;}

/* font-size*/
.kd-font {
	&40 {font-size:40px;}
	&22 {font-size:22px;}
    &17 {font-size:17px;}
    &16 {font-size:17px;}
    &14 {font-size:14px;}
    &13 {font-size:13px;}
    &11 {font-size:11px;}
}
/* font-family*/
.kd-font-bold { font-family:NanumGothicBold;}

/*font-color*/
.kd-color {
	// blue
    &-blue-dark { color:#4e5983; }
    
    // grey
    &-grey-light { color:#868daa; }
    
    // green
    &-green { color:#47bdb3;}
    
    // orange
    &-orange { color:#fb9c80;}
}

/* margin*/
.kd-mgn {
 // maring 속성
    &-w{
		&10 { margin:0 10px;}
		
    }    
    // 
    &-h{
		&10 { margin:10px 0;}
		&20 { margin:20px 0;}
    }   
    // 
    &-b {
        &10 {margin-bottom:10px;}
        &20 {margin-bottom:20px;}
        &25 {margin-bottom:25px;}
        &30 {margin-bottom:30px;}
        &35 {margin-bottom:35px;}
        &50 {margin-bottom:50px;}
	}
	&-r {
		&5 {margin-right:5px;}
		&10 {margin-right:10px;}
		&20 {margin-right:20px;}
	}
	&-t {
		&50 {margin-top:50px;}
	}
}
// padding
.kd-pd{
	&-zero {padding:0 !important;}
	&-w{
		&-10 {
			padding:0 10px;
		}
	}
	&-h{
		&-10 {
			padding:10px 0;
		}
		&-50 {
			padding:50px 0;
		}
	}
	&-t{
		&-10 {
			padding-top:10px;
		}
	}
	&-b{
		&-10 {
			padding-bottom:10px;
		}
	}
	&-l{
		&-10 {
			padding-left:10px;
		}
	}
	&-r{
		&-10 {
			padding-right:10px;
		}
	}
}

.kd-w {
	&100 {width:100%; flex:0 0 100%; max-width:100%;}
}