/*reset*/
$none : none;
$unset : unset;


$bodyBackground : #f8f8f8;

$contentBoxPadding : 35px;
$contentBoxColor : #ffffff;
$contentBoxRadiusNum : 13px;

/*color*/
$color-green01 : #9da2ba;
$color-gray01 : #868daa;

/*font-size*/
$font13 : 13px;
$font14 : 14px;
